<header>
  <button
    mat-button
    aria-label="Go To Watchlist page"
    (click)="navigation.goToWatchlistPage()"
  >
    Watchlist
    <mat-icon fontIcon="watch_later"></mat-icon>
  </button>
</header>
<main>
  <table
    mat-table
    [dataSource]="moviesListData"
    matSort
    class="mat-elevation-z8"
  >

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Title">
        Movie
      </th>
      <td mat-cell *matCellDef="let movie" class="title-cell">
        <div [ngClass]="{ 'on-watchlist': storage.isOnWatchlist(movie.id) }">
          <img
            [src]="movie.thumbnailUrl"
            [alt]="movie.title + ' - thumbnail'"
            onerror="this.onerror=null; this.src='./assets/icon/default-thumbnail.svg'"
            (click)="navigation.goToMovieDetailsPage(movie.id)"
          />
        </div>
        {{ movie.title }}
        <app-watchlist-button [movieId]="movie.id"></app-watchlist-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Rating">
        Rating
      </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.rating | number: '1.1-1' }}</td>
    </ng-container>

    <ng-container matColumnDef="durationInMinutes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Duration">
        Duration
      </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.durationInMinutes | duration }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>
        Genre
      </th>
      <td mat-cell *matCellDef="let movie">
        {{ movie.genre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="releasedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Released Date">
        Released Date
      </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.releasedDate | date: 'd MMMM yyyy' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</main>
